<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goncenleo.materialplant.mapper.TbDeliveryResumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.goncenleo.materialplant.entity.TbDeliveryResume">
        <id column="d_id" property="dId" />
        <result column="u_id" property="uId" />
        <result column="m_id" property="mId" />
        <result column="d_time" property="dTime" />
        <result column="p_id" property="pId" />
        <result column="d_state" property="dState" />
    </resultMap>

</mapper>
