<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.recruit.mapper.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssm.recruit.entity.TbUser">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_photo" property="uPhoto" />
        <result column="u_open_id" property="uOpenId" />
        <result column="u_login_time" property="uLoginTime" />
    </resultMap>

</mapper>
